body{
	padding:15px;
}
.modal-lg {
    max-width: 90% !important;
}
.modal-header {
    background: #167afc;
    color: white;
}
.modal-footer {
    border-top: 1px solid #167afc;
}

form label {
    display: table;
    margin-bottom: 0.5rem;
}
.btn-light {
    border-color: #6c92b7;
}

.show {
    min-width: -webkit-fill-available !important;
    padding: initial;
    margin: initial;
}